{% extends "base.html" %}

{% block content %}
    <h1>Редактирование профиля</h1>
    <form action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="firstname" class="form-label">Имя:</label>
                {{ form.nickname(size=24, class="form-control") }}
            </div>
            <div class="col-6">
                <label for="aboutme" class="form-label">Обо мне:</label>
                {{ form.about_me(class="form-control") }}
            </div>
        </div>
        <hr class="my-4">
        <input class="btn btn-success" type="submit" value="Сохранить изменения">
    </form>
{% endblock %}