{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img class="bd-placeholder-img rounded-circle" src="{{ user.avatar() }}"></td>
            <td>
                <h1>Пользователь: {{ user.nickname }}!</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>
                        <i>Последний вход: {{ momentjs(user.last_seen).calendar() }}</i>
                    </p>
                {% endif %}
                {% if user.id == g.user.id %}
                    <p>
                        <a class="btn btn-info" href="{{ url_for('profileuser.edit') }}">Редактировать</a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <h2>Мои блоги</h2>
    <div class="row mb-2">
        {% if blogs %}
            {% for blog in blogs %}
                <div class="col-md-6">
                    {% include "blog/preview-blog.html" %}
                </div>
            {% endfor %}
        {% else %}
            <p>Здесь пока ничего нет :(. Для написания блога, возпользуйтесь кнопкой сверху "Написать блог".</p>
        {% endif %}
    </div>
{% endblock %}