{% extends "base.html" %}

{% block content %}
    <h1>Новый пост</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Введите заголовок поста:</td>
                <td>{{ form.title(maxlength=120) }}</td>
            </tr>
            <tr>
                <td>Распишите пост:</td>
                <td>{{ form.description(cols=80, rows=25, style="resize: none") }}</td>
            </tr>
            <tr>
                <td>Загрузите превью поста, изображение должно быть следующего разрешния: (1590x400):</td>
                <td>{{ form.photo }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Создать статью"></td>
            </tr>
        </table>
    </form>
{% endblock %}
