{% extends "base.html" %}

{% block content %}
    <h1>{{ name_post }}</h1>

    <p>Выбранное превью:</p>
    {% if url_image %}
        <img src="{{ url_image }}" id="img-preview" style="width: 1590px; height: 400px;">
    {% else %}
        <img id="img-preview" style="width: 1590px; height: 400px;">
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Введите заголовок поста:</td>
                <td>{{ form.title(maxlength=120) }}</td>
            </tr>
            <tr>
                <td>Распишите пост:</td>
                <td>{{ form.description(cols=80, rows=25, style="resize: none") }}</td>
            </tr>
            <tr>
                <td>Загрузите превью поста, изображение должно быть следующего разрешния: (1590x400):</td>
                <td>{{ form.photo(id="img") }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="{{ name_submit_button }}"></td>
            </tr>
        </table>
    </form>
    <script>
        $('#img').change(function () {
            var input = $(this)[0];
            if (input.files && input.files[0]) {
                if (input.files[0].type.match('image.*')) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-preview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    console.log('ошибка, не изображение');
                }
            } else {
                console.log('хьюстон у нас проблема');
            }
        });
    </script>
{% endblock %}
