<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>MyBlog</title>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<div>MyBlog:
    <a href="{{ url_for('entity.index') }}">Домой</a>
    {% if g.user.is_authenticated %}
        | <a href="{{ url_for('profileuser.user', nickname = g.user.nickname) }}">Профиль</a>
        | <a href="{{ url_for('blog.create_blog') }}">Написать статью</a>
        | <a href="{{ url_for('entity.logout') }}">Выйти</a>
    {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %} {% endblock %}
</body>
</html>