{% extends "base.html" %}
{% block content %}
    <h1>Привет, {{ g.user.nickname }}</h1>
    <div class="row mb-2">
        {% if blogs %}
            {% for blog in blogs %}
                <div class="col-md-6">
                    {% include "blog/preview-blog.html" %}
                </div>
            {% endfor %}
        {% else %}
            <p>Здесь пока ничего нет :(. Но давайте напишем блог для других пользователей, для этого воспользуйтесь
                кнопкой сверху "Написать блог"!.</p>
        {% endif %}
    </div>
{% endblock %}